/* @tailwind base; を削除してグローバルリセットを無効化 */
@tailwind components;
@tailwind utilities;

@layer components {
    .typing-game {
        @apply font-sans;
    }

    .typing-game button {
        @apply border-none;
    }
}